@use "sass:color";
@use "pkg:@rose-pine/palette/dist/css/rose-pine.css" as *;
@use "pkg:@catppuccin/palette/css/catppuccin.css" as *;

:root {
  --vp-code-font-size: 0.77rem;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ea76cb 30%,
    #04a5e5
  );

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #ea76cb 50%, #04a5e5 50%);
  --vp-home-hero-image-filter: blur(44px);
  --vp-badge-info-text: var(--vp-custom-block-info-text);
  --vp-badge-info-bg: var(--vp-custom-block-info-bg);
  --vp-badge-warning-text: var(--vp-custom-block-warning-text);
  --vp-badge-warning-bg: var(--vp-custom-block-warning-bg);
  --vp-badge-tip-text: var(--vp-custom-block-tip-text);
  --vp-badge-tip-bg: var(--vp-custom-block-tip-bg);
  --vp-badge-danger-text: var(--vp-custom-block-danger-text);
  --vp-badge-danger-bg: var(--vp-custom-block-danger-bg);
}
.dark {
  --vp-c-bg: var(--rp-surface);
  --vp-nav-bg-color: var(--rp-base);
  /* --vp-local-nav-bg-color: var(--rp-base); */
  --vp-c-bg-alt: var(--rp-base);
  --vp-c-bg-elv: var(--rp-overlay);
  --vp-c-bg-soft: var(--rp-overlay);

  --vp-c-border: var(--rp-highlight-med);
  --vp-c-divider: var(--rp-highlight-med);
  --vp-c-gutter: var(--rp-highlight-med);

  --vp-c-text-1: var(--rp-text);
  --vp-c-text-2: color.mix(var(--rp-text), var(--rp-subtle), 50%);
  --vp-c-text-3: var(--rp-subtle);
  /* --vp-custom-block-info-bg: rgb(var(--ctp-mocha-sky-rgb) / 0.30); */
  /* --vp-custom-block-tip-bg: rgb(var(--ctp-mocha-green-rgb) / 0.40); */
  /* --vp-custom-block-warning-bg: rgb(var(--ctp-mocha-yellow-rgb) / 0.40); */
  /* --vp-custom-block-danger-bg: rgb(var(--ctp-mocha-red-rgb) / 0.50); */
  /* --vp-custom-block-details-bg: var(--rp-highlight-med); */
  --vp-custom-block-info-text: var(--ctp-mocha-sky);
  --vp-custom-block-tip-text: var(--ctp-mocha-green);
  --vp-custom-block-warning-text: var(--ctp-mocha-yellow);
  --vp-custom-block-danger-text: var(--ctp-mocha-red);
  --vp-custom-block-details-text: var(--rp-text);
}

.footnotes {
  font-size: smaller;
  .footnotes-list {
    list-style-type: decimal;
  }
}

.mdi-label {
  padding: 0.2em 0.6em 0.3em;
  font-size: 85%;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.85em;
}

.mdi-label[style="background-color:rgb(255, 255, 0);"] {
  background-color: var(--rp-gold) !important;
}
.mdi-label[style="background-color:rgb(255, 0, 255);"] {
  background-color: var(--rp-moon-love) !important;
}
.mdi-label[style="background-color:rgb(0, 255, 255);"] {
  background-color: var(--ctp-mocha-sky) !important;
}
.mdi-label[style="background-color:rgb(0, 255, 0);"] {
  background-color: var(--ctp-mocha-green) !important;
}

.mdi-label-text-dark {
  color: black;
}
.mdi-label-text-light {
  color: white;
}

.construction::after {
  content: "under construction";
  background-color: var(--ctp-mocha-yellow);
  color: var(--ctp-mocha-base);
}

.group:has([role="button"]) .VPSidebarItem.level-0 .items {
  padding-left: 16px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}

.vp-doc h2#speech + div input {
  /* border: 1px solid var(--ctp-mocha-red); */
  background: var(--vp-c-bg-elv);
  padding: 1em;
  margin-right: 1em;
}

@media only screen and (max-width: 600px) {
  .VPHero.has-image.VPHomeHero > .container > .image > .image-container {
    & > .VPImage.image-src {
      clip-path: url("/heart.svg#heartClip");
    }
  }
}

@supports (-moz-animation-delay:initial) {
  .VPHero.has-image.VPHomeHero > .container > .image > .image-container {
    background-image: url("/blur.svg");
    background-position: center center;
    background-repeat: none;
  }
}
