@use '../../node_modules/@rose-pine/palette/dist/css/rose-pine.css' as *;
@use 'sass:color';
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ea76cb 30%,
    #04a5e5
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ea76cb 50%,
    #04a5e5 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}
.dark {
  --vp-c-bg: var(--rp-surface);
  --vp-c-bg-alt: var(--rp-base);
  --vp-c-bg-elv: var(--rp-overlay);
  --vp-c-bg-soft: var(--rp-overlay);

  --vp-c-border: var(--rp-highlight-low);
  --vp-c-divider: var(--rp-highlight-med);
  --vp-c-gutter: var(--rp-highlight-high);

  --vp-c-text-1: var(--rp-text);
  --vp-c-text-2: color.mix(var(--rp-text), var(--rp-subtle), 50%);
  --vp-c-text-3: var(--rp-subtle);
}

.footnotes {
  font-size: smaller;
  .footnotes-list {
    list-style-type: decimal;
  }
}